body{
  background-color: #f8f0e3;
}
  .content h2 {
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin: 0;
    display: flex;
    justify-content: center;  /* center horizontally */
    align-items: center;      /* center vertically */
    height: 20vh;            /* full screen height */
  }
  .content p {
    font-size: 1.2rem;
    color: #5c2d2d;
    text-align: center;
    margin-top: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    height: 10vh;
  }

  .musical-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: auto; /* Center the image */
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);

  }